<?xml version = "1.0" encoding = "UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
            http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
            http://www.springframework.org/schema/context
            http://www.springframework.org/schema/context/spring-context-3.0.xsd"
       default-init-method="init">
    <context:annotation-config/>
    <bean name="configAdditional" class="Config"/>
    <bean id = "helloWorld" class = "HelloWorld" scope="prototype">
        <property name = "message">
            <bean id="msgInner" class="Message">
                <property name="message" value="Inner"/>
            </bean>
        </property>
        <property name="messages">
            <list>
                <value>BareString</value>
                <ref bean="msgOuter"/>
            </list>
        </property>
    </bean>
    <bean id="msgOuter" class="Message">
        <property name="message" value="Outer"/>
    </bean>
    <bean class="CustomPostProcessor"/>

</beans>

